<nav class="navbar">
  <div class="logo">
    <h3>CONFESS</h3>
  </div>
  <ul class="navlist">
    <li class="nav-item">
      <a href="/admin/users" class="nav-link">Users</a>
    </li>
    <li class="nav-item">
      <a href="/admin/posts" class="nav-link">Posts</a>
    </li>
    <li class="nav-item">
      <a href="/admin/logout" class="nav-link signup">Logout</a>
    </li>
  </ul>
</nav>

<!----------------------------------------------------------------------------------->

<div class="error-message-wrapper">
  <%-include("./../partials/messages")-%>
</div>
<div class="form-container">
  <div class="right">
    <form class="form" method="post" action="/admin/submit">
      <div class="form-group">
        <textarea name="announcement" placeholder="announcement" required>
<%= typeof announcement != 'undefined' ? announcement : ''%></textarea
        >
      </div>
      <div class="form-group">
        <button type="submit" class="form-btn">Submit</button>
      </div>
    </form>
  </div>
</div>
