<nav class="navbar">
  <div class="logo">
    <h3>Admin Panel Login</h3>
  </div>
</nav>
<!---------------------------------------------------------------->

<div class="form-container">
  <div class="left">
    <h1>Login As</h1>
    <br />
    <h1 class="confess-text">Administrator</h1>
  </div>
  <div class="right">
    <%-include("./../partials/messages")-%>
    <form action="/admin/login" method="post" class="form">
      <div class="form-group">
        <input
          type="text"
          name="username"
          id="username"
          value="<%= typeof username != 'undefined' ? username : ''%>"
          placeholder="Username"
          autocomplete="off"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          value="<%= typeof password != 'undefined' ? password : ''%>"
        />
      </div>

      <div class="form-group">
        <button type="submit" class="form-btn">Login</button>
      </div>
    </form>
  </div>
</div>
