<nav class="navbar">
  <div class="logo">
    <h3>CONFESS</h3>
  </div>
  <ul class="navlist">
    <li class="nav-item">
      <a href="/admin/" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="/admin/posts" class="nav-link">Post</a>
    </li>
    <li class="nav-item">
      <a href="/admin/logout" class="nav-link signup">Logout</a>
    </li>
  </ul>
</nav>

<!-------------------------------------------------------------------------->

<div class="users-container">
  <table border="1px" class="users-table">
    <thead>
      <th>S.N</th>
      <th>Username</th>
      <th>Options</th>
    </thead>
    <% let sn = 1; %> <% user.forEach((account)=>{ %>
    <tr>
      <td class="sn"><%=sn%></td>
      <td>
        <%=account.username%>
      </td>
      <td class="options">
        <a href="/admin/edit/<%=account.edit%>">Edit</a> |
        <a href="/admin/delete/<%=account.id%>">Delete</a>
      </td>
      <% sn++; }) %>
    </tr>
  </table>
</div>
