<nav class="navbar">
  <div class="logo">
    <h3>CONFESS</h3>
  </div>
  <ul class="navlist">
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item">
      <a href="../signup" class="nav-link signup">Signup</a>
    </li>
  </ul>
</nav>
<!---------------------------------------------------------------->

<div class="form-container">
  <div class="left">
    <h1>Login To</h1>
    <br />
    <h1 class="confess-text">Confess</h1>
  </div>
  <div class="right">
    <form action="/login" method="post" class="form">
      <div class="form-group">
        <!-- <label for="username">Username</label> -->
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />
      </div>

      <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
      </div>

      <div class="form-group">
        <button class="form-btn">Login</button>
      </div>
    </form>
  </div>
</div>
