<nav class="navbar">
  <div class="logo">
    <h3>CONFESS</h3>
  </div>
  <ul class="navlist">
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
  </ul>
</nav>

<!------------------  Signup ----------------->

<div class="form-container">
  <div class="left">
    <h1>Signup To</h1>
    <br />
    <h1 class="confess-text">Confess</h1>
  </div>
  <div class="right">
    <%-include("./partials/messages")-%>
    <form action="/signup" method="post" class="form">
      <div class="form-group">
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          autocomplete="off"
          value="<%= typeof username != 'undefined' ? username : '' %>"
          required
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
          required
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="Confirm Password"
          value="<%= typeof confirm_password != 'undefined' ? confirm_password : '' %>"
          required
        />
      </div>

      <div class="form-group">
        <button type="submit" class="form-btn">Signup</button>
      </div>
    </form>
  </div>
</div>
