* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.error-msg {
  width: 80%;
  margin: auto;
  color: red;
  text-align: start;
  font-size: 18px;
  margin-bottom: 15px;
}

.error-message-wrapper {
  margin-top: 50px;
  margin-bottom: -50px;
}

@media (max-width: 800px) {
  .error-msg {
    font-size: 14px;
  }
}

@import "navbar/navbar";
@import "form/form";
@import "main/main";
